{% extends "base.html" %}

{% block meta_description %}
	Запишитесь в школу капоэйры Capoeira de rua в Ростове-на-Дону. Первое занятие бесплатно!
{% endblock %}

{% block meta_keywords %}
	капоэйра в Ростове, школа капоэйры, капоэйра боевое искусство, записаться в школу капоэйры, Capoeira de Rua
{% endblock %}

{% block title %}
	О школе Capoeira de Rua
{% endblock title%}

{% block content %}
	{% load staticfiles %}
	<!-- Start Page Banner -->
	<div class="page-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="breadcrumbs">
						<li><a href="#">Главная</a></li>
						<li>О школе</li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="navbar-title">
						<h1> О ШКОЛЕ <p> Capoeira de Rua</p> </h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Banner -->

	<!-- Start Content -->
	<div id="content">
		<div class="container">
			<div class="page-content">

				<div class="row">
					<div class="col-md-6">
						<h4 class="classic-title"><span>{{ data.title }}</span></h4>
						<p>{{ data.text|safe }}</p>
					</div>

					<div class="col-md-6">
						<div class="item">
							<img alt="{{ data.title }}" src="{{ data.img.url }}">
						</div>

						<div class="text-center margin-vert-20">
							<a href="#" data-toggle="modal" data-target=".add-student-form" class="add-student btn-system btn-large">ПРИСОЕДИНЯЙСЯ К НАШЕЙ КОМАНДЕ!</a>
						</div>

                        {% include "components/citation_widget.html" %}
					</div>
				</div>

				<!-- Classic Heading -->
				<h4 class="classic-title"><span>Инструктора</span></h4>

				<!-- Start Team Members -->
				<div class="row">
					{% for trainer in trainers %}
						<!-- Start Memebr 1 -->
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="team-member">
								<!-- Memebr Photo, Name & Position -->
								<div class="member-photo">
									{% if trainer.photo %}
										<img alt="{{ trainer.status }} {{ trainer }}" src="{{ trainer.photo.url }}" />
									{% else %}
										<img alt="{{ trainer.status }} {{ trainer }}" src="{% static 'images/cap.png' %}" />
									{% endif %}
									<div class="member-name">
										<a data-toggle="collapse" data-parent="#toggle" href="#collapse-{{ trainer.id }}" aria-expanded="false" class="collapsed">
											{{ trainer }} <span>{{ trainer.status }}</span>
										</a>
									</div>
								</div>
								<!-- Memebr Words -->
								<div id="collapse-{{ trainer.id }}" class="member-info panel-collapse collapse" aria-expanded="false">
									<p>{{ trainer.biography }}</p>
								</div>
							</div>
						</div>
						<!-- End Memebr 1 -->
					{% endfor %}
				</div>
				<!-- End Team Members -->

				<!-- Divider -->
				<div class="hr5" style="margin-bottom:50px;"></div>

				{% include 'components/improve_skills.html' %}

			</div><!--page-content-->
		</div><!--container-->
	</div>
	<!-- End content -->

	{% include 'components/parallax_block.html' %}
{% endblock content %}