<!-- Classic Heading -->
<h4 class="classic-title"><span>{{ article.title }}</span></h4>

<div class="row block-article">
	<div class="col-md-5 float-left">
		{% if article.period %}
			<p><span class="h5">Период: </span><span>{{ article.period }}</span></p>
		{% endif %}

		{% if article.country %}
			<p><span class="h5">Страна: </span><span>{{ article.country }}</span></p>
		{% endif %}

		{% if article.date_b %}
			<p><span class="h5">Родился: </span><span>{{ article.date_b | date:"Y.m.d" }}</span></p>
		{% endif %}
		{% if article.date_d %}
			<p><span class="h5">Умер: </span><span>{{ article.date_d | date:"Y.m.d"}}</span></p>
		{% endif %}

		{% if article.apelido %}
			<p><span class="h5">Апелиду: </span><span>{{ article.apelido }}</span></p>
		{% endif %}

		{% if article.photo %}
			<img alt="{{ article.title }}" src="{{ article.photo.url }}">
		{% endif %}
	</div>

	<p>{{ article.description | safe }}</p>

</div>

<!-- Divider -->
<div class="hr5" style="margin-top:30px; margin-bottom:45px;"></div>