{% extends "base.html" %}

{% block meta_description %}
    {% if master.description %}
	    {{ master.description }}
    {% else %}
	    Местре {{ master.apelido }}. О жизни мастера и его вкладе в капоэйру. Биографии великих матеров и много других интересных фактов. Хочешь узнать больше?
        Заходи на наш сайт в онлайн энциклопедию!
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% if master.keywords %}
	    {{ master.keywords }}
    {% else %}
        {{ master.name }}, местре {{ master.apelido }}, история капоэйры, мастера капоэйры, капоэйра боевое искусство
    {% endif %}
{% endblock %}

{% block title %}
	{{ master.name }}
{% endblock title%}

{% block content %}
	{% load staticfiles %}
		<!-- Start Page Banner -->
		<div class="page-banner">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<ul class="breadcrumbs">
							<li><a href="/">Главная</a></li>
                            <li><a href="{% url "encyclopedia" %}">Энциклопедия</a></li>
                            <li><a href="{% url "masters" %}">Мастера</a></li>
                            <li>{{ master.name }}</li>
						</ul>
					</div>
					<div class="col-md-6">
						<div class="navbar-title">
							<h1> ЭНЦИКЛОПЕДИЯ <p>школы Capoeira de Rua</p> </h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page Banner -->

		<!-- Start Content -->
		<div id="content">
			<div class="container">
				<div class="row sidebar-page">
					<div class="col-md-9 page-content">
                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Местре {{ master.apelido|default:master.name }}</span></h4>

                        <div class="row block-article">
                            <div class="col-md-5 float-left">
                                {% if master.country %}
                                    <p><span class="h5">Страна: </span><span>{{ master.country }}</span></p>
                                {% endif %}

                                {% if master.date_birth %}
                                    <p><span class="h5">Родился: </span><span>{{ master.date_birth | date:"Y.m.d" }}</span></p>
                                {% endif %}
                                {% if master.date_death %}
                                    <p><span class="h5">Умер: </span><span>{{ master.date_death | date:"Y.m.d"}}</span></p>
                                {% endif %}

                                {% if master.apelido %}
                                    <p><span class="h5">Апелиду: </span><span>{{ master.apelido }}</span></p>
                                {% endif %}

                                {% if master.photo %}
                                    <img alt="{{ master.apelido|default:master.name }}" src="{{ master.photo.url }}">
                                {% endif %}
                            </div>

                            <p>{{ master.biography | safe }}</p>

                        </div>

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Смотрите также</span></h4>
                        {% for other_master in other_masters %}
                            <div class="col-md-3">
                                <div class="owl-item">
                                    <div class="portfolio-item item">
                                        <div class="portfolio-border">
                                            <!-- Start Project Thumb -->
                                            <div class="portfolio-thumb">
                                                <a class="lightbox" data-lightbox-type="ajax" href="{% url 'master' other_master.id %}">
                                                    <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                                    {% if other_master.photo %}
                                                        <img alt="{{ other_master.apelido }} {{ other_master.name }}" src="{{ other_master.photo.url }}">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <!-- End Project Thumb -->

                                            <!-- Start Project Details -->
                                            <div class="portfolio-details">
                                                <a href="{% url 'master' other_master.id %}">
                                                    <span class="h4">
                                                        Местре {{ other_master.apelido|default:other_master.name }}
                                                    </span>
                                                </a>
                                                <br>
                                                <span>
                                                    {{ other_master.date_birth | date:"Y.m.d" }}
                                                    {% if other_master.date_death %}
                                                        - {{ other_master.date_death | date:"Y.m.d" }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <!-- End Project Details -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- Divider -->
                        <div class="hr5" style="margin-top:30px; margin-bottom:45px;"></div>
					</div>

                <!--Sidebar-->
				<div class="col-md-3 sidebar right-sidebar">
					{% include "components/search_widget.html" %}

					<!-- Categories Widget -->
					<div class="widget widget-categories text-center">
						<a class="main-button" href="{% url "masters" %}">Вернуться к списку мастеров <i class="fa fa-angle-right"></i></a>
					</div>

                    {% include "components/citation_widget.html" %}

                    {% include "components/tags.html" %}
				</div>
				<!--End sidebar-->

				</div>
			</div>
		</div>
		<!-- End Content -->
{% endblock content %}