{% extends "base.html" %}

{% block meta_description %}
	{{ new.description|default:new.preview_text }}
{% endblock %}

{% block meta_keywords %}
	{{ new.keywords|default:new.title }}
{% endblock %}

{% block title %}
	{{ new.title }}
{% endblock title%}

{% block content %}
	<!-- Start Page Banner -->
	<div class="page-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="breadcrumbs">
						<li><a href="#">Главная</a></li>
						<li><a href="/news/">Новости</a></li>
						<li>{{ new.title }}</li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="navbar-title">
						<h1> НОВОСТИ <p>школы Capoeira de Rua</p> </h1>           
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Banner -->

	<!-- Start Content -->
	<div id="content">
		<div class="container">
			<div class="row blog-post-page">
				<div class="col-md-9 blog-box">
					<!-- Start Single Post Area -->
					<div class="blog-post gallery-post">
						<!-- Start Single Post Content -->
						<div class="post-content">
							<div class="post-type"><i class="fa fa-newspaper-o"></i></div>
							<h2>{{ new.title }}</h2>
							<ul class="post-meta">
								<li>{{ new.updated }}</li>
							</ul>
							<p>{{ new.detail_text | safe}}</p>


							{% if new.image %}
								<div class="item">
									<a class="fancybox" title="{{ new.title }}" href="{{ new.image.url }}">
										<img alt="{{ new.title }}" src="{{ new.image.url }}">
									</a>
								</div>
							{% endif %}

							<div class="post-bottom clearfix">
								{% include "components/social_links.html" %}
							</div>
						</div>
						<!-- End Single Post Content -->
					</div>
					<!-- End Single Post Area -->
				</div>
				<!-- End blog-box -->

				<!--Sidebar-->
				<div class="col-md-3 sidebar right-sidebar">
					{% include "components/search_widget.html" %}

					<!-- Categories Widget -->
					<div class="widget widget-categories text-center">
						<a class="main-button" href="/news/">Вернуться к списку новостей <i class="fa fa-angle-right"></i></a>
					</div>

					<!-- Start Post -->
					<div class="blog-post quote-post">
						<div class="qoute-box">
							<span class="h2">"{{ citation.text }}"</span>
							<div class="qoute-author">Местре 
								{%if citation.master__apelido %}
									{{ citation.master__apelido }}
										{% else %}
									{{citation.master__name }}
								{% endif %}
							</div>
						</div>
					</div>
					<!-- End Post -->
				</div>
				<!--End sidebar-->
			</div>
			<!-- End blog-post-page -->
		</div>
		<!-- End container -->
	</div>
	<!-- End content -->
{% endblock content %}