<!-- Start Purchase Section -->
<div class="section purchase">
	<div class="container">
		<!-- Start Video Section Content -->
		<div class="section-video-content text-center">
			<!-- Start Animations Text -->
			<span class="fittext wite-text uppercase tlt">
				<span class="texts">
					<span>Физические нагрузки</span>
					<span>Заряд бодрости</span>
					<span>Положительную энергию</span>
					<span>Музыку</span>
					<span>Танцы</span>
				</span>
					вы найдете в нашей школе!
			</span>
			<!-- End Animations Text -->

			<div>
				<span class="fittext wite-text uppercase">ПЕРВОЕ ЗАНЯТИЕ БЕСПЛАТНО!</span>
			</div>

			<div>
				<a href="#" id="add-student" data-toggle="modal" data-target=".add-student-form" class="btn-system btn-large">Записаться</a>
			</div>
		</div>
		<!-- End Section Content -->
	</div>
	<!-- .container -->
</div>
<!-- End Purchase Section -->