{% load staticfiles %}
<div class="container-form">
	<div class="margin-bottom-20">
		<span class="h4 big-title">{{ name }}, ждем Вас на <a href="/filials/">ближайшем классе</a> по капоэйре</span>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	</div>
	<div>
		<div class="hr5 margin-vert-20"></div>
		<p>C собой иметь удобную спортивную форму и хорошее натроение :-)</p>
		<img src="{% static 'images/we-wait-you.jpg'%}">
	<div>
</div>