{% load staticfiles %}
<!-- Start Post -->
<div class="blog-post quote-post block-inline-tabs">
	<div class="qoute-box text-center">
		<a href="#">
			<span class="h2">ПЕРВОЕ ЗАНЯТИЕ БЕСПЛАТНО!</span>
			<div class="qoute-author">
				Возраст и начальный уровень не имеют значения
			</div>
		</a>
	</div>
	<img alt="Первое занятие по капоэйре бесплатно" src="{% static 'images/come-to-us.jpg' %}">
</div>
<!-- End Post -->

<div class="text-center margin-bottom-20">
	<a href="#" data-toggle="modal" data-target=".add-student-form" class="add-student btn-system btn-large">
		ХОЧУ ЗАНИМАТЬСЯ
	</a>
</div>