<!-- Start Purchase Section -->
<div class="section purchase">
	<div class="container">
		<!-- Start Video Section Content -->
		<div class="section-video-content text-center">
			<div>
				<span class="fittext wite-text uppercase">Возраст и начальный уровень не имеют значения!</span>
			</div>
			<div>
				<span class="fittext wite-text uppercase">Первое занятие бесплатно!</span>
			</div>

			<div>
				<a href="#" data-toggle="modal" data-target=".add-student-form" class="add-student btn-system btn-large">Записаться</a>
			</div>
		</div>
		<!-- End Section Content -->
	</div>
	<!-- .container -->
</div>
<!-- End Purchase Section -->