 <div class="footer-widget social-widget">
	<span class="h4">Мы в соцсетях</span>
	<ul class="social-icons">
		<li>
			<a class="facebook" href="https://www.facebook.com/AbelhaCDR" target="blank"><i class="fa fa-facebook"></i></a>
		</li>
		<li>
			<a class="twitter" href="https://twitter.com/capoeira_de_rua"><i class="fa fa-twitter"></i></a>
		</li>
		<li>
			<a class="instgram" href="www.instagram.com/capoeira_de_rua/"><i class="fa fa-instagram"></i></a>
		</li>
		<li>
			<a class="vimeo" href="https://vk.com/capoeiraderua"><i class="fa fa-vimeo-square"></i></a>
		</li>
	</ul>
</div>